.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  background-color: white;
  animation: fade-in .3s both;
}

.image {
  object-fit: cover;
  width: auto;
  height: 80%;
}
.person {
  height: 700px;
  width: 20%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: flex-end;

  background-size: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: white;
  width: 60%;
  height: 100%;
  font-size: 1em;
}

.header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 3%;
  color: #cf6766;
}

.header-two {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 3%;
  color: #30415d;
}

.description {
  margin-top: 3%;
  margin-bottom: 3%;
}

.middle-header {
  margin-bottom: 2%;
  font-size: 1.3em;
}

.traits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

.pref-column {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  flex-wrap: wrap;
}

.preferences {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-wrap: wrap;
  width: 60%;

  height: 20%;
}

.bold {
  font-weight: bold;
}

.scoot {
  margin-right: 22%;
}

.scoot-pets {
  margin-right: 13%;
}

.listing-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;

  width: 90%;
  height: 100%;
}

.my-listings {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;

  width: 100%;
  height: 100%;
}

.picturemyprofile {
  height: 100vh;
  width: 20%;
  position: sticky;
  top: 0;
  background: linear-gradient(
      to bottom,
      rgba(207, 104, 102, 0.6),
      rgba(207, 104, 102, 0.4)
    ),
    url(https://images.unsplash.com/photo-1506377295352-e3154d43ea9e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=45b23363a3f913999845ba0f7c6358a0&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
}

.picture-profile {
  height: 100vh;
  width: 20%;
  position: sticky;
  top: 0;
  background: linear-gradient(
      to bottom,
      rgba(3, 20, 36, 0.5),
      rgba(3, 20, 36, 0.3)
    ),
    url(https://cdn.pixabay.com/photo/2015/03/26/10/04/flowers-690858_960_720.jpg);
  background-size: cover;
}

.traits {
  width: 80%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  color: #30415d;
}

.my-preferences {
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  color: #30415d;
}


.card-content {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

