.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 250vh;
  background-color: white;
}


.image {
  width: auto;
  height: 80%;
}
.person {
  height: 100vh;
  width: 30%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-size: cover;
  background-color: white;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  width: 65%;
  height: 200vh;
  font-size: 1.1em;
  margin-top: 3%;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;
}

.header {
  font-size: 1.2em;
}

.description {
  margin-top: 3%;
  margin-bottom: 3%;
}

.middle-header {
  margin-bottom: 2%;
  font-size: 1.2em;
}

.traits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

.pref-column {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 30vh;
}

.preferences {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  flex-wrap: wrap;
  width: 60%;

  height: 20%;
}

.bold {
  font-weight: bold;
}

.scoot {
  margin-right: 22%;
}

.scoot-pets {
  margin-right: 13%;
}

.listings {
  display: flex;
  justify-content: space-between;
}