.search-rooms {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  animation: fade-in .3s both;
}

.search-menu {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 40px;
  position: sticky;
  top: 0;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}

.search-results {
  width: 70%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1%;
  margin: 30px;
}

.search-section {
  margin: 25px 0;
}

.search-section-title {
  font-size: 18px;
  color: #CF6766;
}

.selection {
  width: 100%;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.slider-selection {
  display: grid;
  grid-template-columns: 50% 50%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}