.add-listing {
  display: flex;
  justify-content: space-between;
  animation: fade-in .3s both;
}

.listing-nav {
  width: 40%;
  height: 250px;
  padding: 16px;
  position: sticky;
  top: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  border: 1px solid rgb(219, 219, 219);
}

.listing-nav > p {
  margin: 10px;
}

.listing-nav > p:hover {
  cursor: pointer;
  color: #CF6766;
}

.listing-sections {
  width: 60%;
  margin: 0 40px;
}

.listing-section {
  padding: 16px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgb(219, 219, 219);
}

.nav-header {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
  color: #CF6766;
}

.details-header {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
  color: #CF6766;
}

.selection {
  display: flex;
}

.listing-nav {
  margin: 40px;
  background: #fff;
}

.listing-section {
  margin: 40px;
}

.section-inputs {
  width: 25%;
}

.selection-title {
  font-size: 20px;
  padding-bottom: 20px;
  width: 200px;
  margin-top: 18px;
  text-align: center;
}

.selection {
  width: 50%;
}

.section-details {
  display: flex;
  padding-top: 14px;
  border-top: 1px solid #000;
}

.google-autocomplete {
  display: flex;
}

.age-input {
  width: 300px;
  margin: 10px 0;
}

.label {
  margin-left: 50px;
  font-size: 18px;
}

.section-address-inputs {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.section-google-input {
  width: 100%;
}

.section-address-inputs-three {
  display: grid;
  grid-template-columns: 50% 20% 30%;
}

.section-address-inputs-four {
  display: grid;
  grid-template-columns: 60% 30% 10%;
}

.address {
  width: 100%;
}

.address-input {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.months {
  color: #CF6766;
  font-size: 18px;
  margin-top: 75px;
  margin-left: 12px;
}

.amend-selection {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.amend-item {
  margin: 10px 0;
}

.listing-section-button {
  margin-right: 30px;
  margin-bottom: 80px;
  padding: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
}

.suggestion-item {
  border-bottom: 1px solid #CF6766;
  padding: 5px;
}

.suggestion-item--active {
  border-bottom: 1px solid #CF6766;
  padding: 5px;
}

.location-search-input {
  margin: 0;
}

.autocomplete-dropdown-container {
  width: 60%;
  position: absolute;
}

.images {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.image-container {
  margin: 5px;
}

.image-item {
  height: 100%;
  width: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}