.add-listing {
  display: flex;
  justify-content: space-between;
  background: rgb(238, 225, 225);
}

.listing-nav {
  width: 30%;
  height: 80vh;
  padding: 16px;
  position: sticky;
  top: 20px;
  border-radius: 5px;
}

.listing-sections {
  width: 70%;
  margin: 0 40px;
}

.listing-section {
  padding: 16px;
  background: #fff;
  border-radius: 5px;
}

.nav-header {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
}

.details-header {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 20px;
}

.selection {
  display: flex;
  background: #fff;
}

.listing-nav {
  margin: 40px;
  background: #fff;
}

.listing-section {
  margin: 40px;
}

.section-inputs {
  width: 25%;
}

.selection-title {
  font-size: 20px;
  padding-bottom: 20px;
  width: 140px;
  margin-top: 18px;
}

.selection {
  width: 50%;
}

.section-details {
  display: flex;
  padding-top: 14px;
  border-top: 1px solid #000;
}

.age-input {
  width: 300px;
  margin: 10px 0;
}

.label {
  margin-left: 50px;
  font-size: 18px;
}

.section-address-inputs {
  width: 100%;
}

.section-address-inputs-three {
  display: grid;
  grid-template-columns: 50% 20% 30%;
}

.section-address-inputs-four {
  display: grid;
  grid-template-columns: 60% 30% 10%;
}

.address {
  width: 100%;
}

.address-input {
  width: 95%;
}

.months {
  color: #CF6766;
  font-size: 18px;
  margin-top: 75px;
  margin-left: 12px;
}

.amend-selection {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.amend-item {
  margin: 10px 0;
}

.listing-section-button {
  margin-right: 30px;
  margin-bottom: 80px;
  padding: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
}

.suggestion-item {
  border-bottom: 1px solid #000;
  padding: 5px;
}

.suggestion-item--active {
  border-bottom: 1px solid #000;
  padding: 5px;
}

.location-search-input {
  margin: 0;
}

.autocomplete-dropdown-container {
  width: 60%;
  position: absolute;
}

.images {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.image-container {
  margin: 5px;
}

.image-item {
  height: 100%;
  width: 100%;
}