.listing-image {
  height: 50vh;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: 100% 30%;
}

.listing {
  display: flex;
  justify-content: flex-start;
}

.listing-details {
  width: 70%;
}

.listing-profile {
  width: 30%;
  
}

.listing-profile-card > a > img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 50px;
}

.listing-profile-card {
  position: sticky;
  top: 0;
  border: 1px solid rgb(219, 219, 219);
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
  width: 80%;
  padding: 40px;
}

.listing-profile-card > h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
}

.listing-header {
  margin: 60px;
}

.listing-header > h1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}

.listing-info > span {
  font-weight: bold;
  margin-left: 25px;
}

.listing-section {
  text-transform: uppercase;
  font-weight: bold;
}