.search-people {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 50px;
  animation: fade-in .3s both;
}

.filter-options {
  position: sticky;
  height: 720px;
  top: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(219, 219, 219);
  padding: 40px;
  margin-right: 20px;
  border-radius: 5px;
}

.search-people-location {
  display: flex;
  flex-direction: column;
}

.search-preferences {
  display: grid;
  grid-template-columns: 50% 50%;
}

.search-traits {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.profile-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0 40px;
}

.search-people-section {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.search-section-title {
  margin: 15px 0;
}

.search-people-item {
  margin: 10px 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}