/* .imgC {
  background-image: url();
  background-repeat: no-repeat, repeat;
  background-size: 100%;
  height: 100vh;
} */
.background1{
  width: 100vw;
  height: 350px;
  object-fit:cover;
}
.heade {
  display: flex;
  color: blue;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
/* .post {
  text-align: justify;
  display: flex;
  margin: auto;
  align-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgb(58, 58, 58);
} */
.HeaD{
  margin-top: 25px;
  margin-bottom:25px
}
.head1{

  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.para{
  font-size: 25px;
  text-align: center;
  padding: 30px
}
.post{
  margin: 0;
    position: absolute;
    top: 120%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}





.container {
  background-color: rgb(238, 238, 238);
  height: 100vh;
}
.button1{
  background-color: #CF6766;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 40%;
margin-left: 30%;
margin-right: 30%
}
.button1:hover {
  background-color: rgb(230, 118, 116);
  color: white;
}
.search-state{
 
  color: white;
  /* padding: 15px 32px; */
  /* text-align: center; */
  /* text-decoration: none; */
  font-size: 16px;
  margin: 4px 2px;
  /* float: left; */
  cursor: pointer;
  width: 40%;
margin-left: 30%;
/* margin-right: 30% */
}
.button2{
  background-color: #CF6766;
  border: none;
  color: white;
  text-align: center;
  padding: 12px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 7%;
  

}

.button2:hover {
  background-color: rgb(230, 118, 116);
  color: white;
}



/* .button {
  display: inline-block;
  outline: none;
  
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: 0.5em 2em 0.55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
} */

.innerC {
  display: flex;
  margin: auto;
  height: 70vh;
  width: 70%;
  align-items: baseline;
  flex-wrap: wrap;
}
.top {
  display: flex;
  height: 33%;
  width: 100%;
}
.ny {
  align-items: baseline;
  background-image: url("http://www.wallpaperbetter.com/wallpaper/21/90/360/hudson-river-new-york-city-1080P-wallpaper-middle-size.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 50vh;
  margin: 8px;
}
.au {
  align-items: baseline;
  background-image: url("http://paperlief.com/images/dallas-texas-at-night-wallpaper-4.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  height: 100%;
  width: 29%;
  margin: 8px;

}
.sd {
  align-items: baseline;
  background-image: url("http://wallscollection.net/wp-content/uploads/2017/01/Florida-Wallpapers-HD-1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: 170%;
  height: 99%;
  width: 27%;
  margin: 10px;
}
.middle {
  display: flex;
  height: 33%;
  width: 100%;
}
.bo {
  align-items: baseline;
  background-image: url("https://bloggerlocal.com/wp-content/uploads/2013/08/kansas_city_skyline_2.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  height: 100%;
  width: 36%;
  margin: 8px;
}
.ch {
  align-items: baseline;
  background-image: url("https://roomicities.imgix.net/Chicago.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
  height: 100%;
  width: 37%;
  margin: 8px;
  margin-bottom: 0;
}

.sf {
  align-items: baseline;
  background-image: url("http://jonvilma.com/images/detroit-at-sunrise-michigan-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 50%;
  margin: 8px;
}
.bottom {
  display: flex;
  height: 33%;
  width: 100%;
}
.la {
  align-items: baseline;
  background-image: url("http://www.wallpaperbetter.com/wallpaper/1008/644/858/paradise-pier-sunset-california-1080P-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 105%;
  height: 96%;
  width: 59vh;
  margin: 8px;
}
.cali {
  font-size: 35px;
  padding-right: 80px;
  padding-top: 160px;
  color: white;
}

.cali:hover {
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.2)
  );
  position: relative;
  padding-top: 80px;
  cursor: pointer;
  transition: 2s all;
}
.lo {
  align-items: baseline;
  background-image: url("https://i.pinimg.com/originals/0b/ef/fe/0beffef7a6a531631f369a6b147c8793.jpg");
  background-repeat: no-repeat;
  background-size: 130%;
  height: 100%;
  width: 35%;
  margin: 8px;
  margin-bottom: 0;
}
.wa {
  align-items: baseline;
  background-image: url("https://i.pinimg.com/originals/4d/9d/d6/4d9dd63aedcf8c0064ec1e41cc4783ab.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  height: 100%;
  width: 30%;
  margin: 8px;
}
