/* .imgC {
  background-image: url();
  background-repeat: no-repeat, repeat;
  background-size: 100%;
  height: 100vh;
} */

.home-page {
  animation: fade-in 0.3s both;
}

.home-image {
  height: 55vh;
  width: 100vw;
}
.background1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heade {
  display: flex;
  color: blue;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.HeaD {
  margin-top: 25px;
  margin-bottom: 25px;
}
.head1 {
  font-size: 1.6em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1%;
}

.para {
  width: 300px;
  text-align: center;
  text-align: center;
  margin-bottom: 5%;
}
.post {
  margin: 0;
  position: absolute;
  top: 120%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.state-container {
  background-color: rgb(238, 238, 238);
  height: 100%;
}

.button1 {
  background-color: #cf6766;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
.button1:hover {
  background-color: rgb(230, 118, 116);
  color: white;
}
.search-state {
  color: white;
  /* padding: 15px 32px; */
  /* text-align: center; */
  /* text-decoration: none; */
  font-size: 16px;
  margin: 4px 2px;
  /* float: left; */
  cursor: pointer;
  width: 20%;

  /* margin-right: 30% */
}
.renting-content2 {
  color: white;
  cursor: pointer;
}
.renting-content2:hover {
  color: white;
}

.button2 {
  background-color: #cf6766;
  border: none;
  color: white;
  text-align: center;
  padding: 12px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 7%;
}

.button2:hover {
  background-color: rgb(230, 118, 116);
  color: white;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* .button {
  display: inline-block;
  outline: none;
  
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: 0.5em 2em 0.55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
} */

.innerC {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 95vh;
  width: 80%;
  margin: 40px auto;
}

.img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 50vh;
  margin: 8px;
}

.state-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
  margin: 16px 8px 0 8px;
  border-radius: 5px;
  animation: minimize .3s both ease-out;
}

.state-img-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.state-img-3 {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.state-img-5 {
  grid-row: 3 / 5;
}

.state-img-8 {
  grid-row: 4 / 5;
  grid-column: 2 / 4;
}

.state-img:hover {
  animation: enlarge .3s both;
}

.state-name {
  font-size: 3em;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  animation: fade-in .8s both;
  text-shadow: 2px 2px 5px black;
}

.home-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
}

.explore-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: 30px 0;
}

.head-content {
  margin: 30px 0;
}

.renting-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

.looking-renting {
  display: flex;
  height: 70%;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.solution {
  color: #30415d;
  margin: 0 auto;
}

.state-img:hover {
  cursor: pointer;
}

.home-icon {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 3%;
  color: #30414d;
}

@keyframes fade-in {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@keyframes enlarge {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(1.025) perspective(5px);
  }
}

@keyframes minimize {
  from {
    transform: scale(1.025);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 1100px) {
  .looking-renting {
    flex-direction: column;
  }

  .innerC {
    display: flex;
    flex-direction: column;
  }

  .state-img {
    height: 300px;
    width: 100%;
  }

  .input-group {
    flex-direction: column;
  }
}

@media (max-width: 1600px) {
  .home-icon {
    display: none;
  }
}