.sign-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #031424;
  background: white;
  animation: fade-in 0.3s both;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 80%;
}

.picture {
  height: 100vh;
  width: 25%;
  position: sticky;
  top: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(142, 174, 189, 0.5),
      rgba(142, 174, 189, 0.3)
    ),
    url(https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9fc409d72ac99c1a6d2590c883ed2f62&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
}

.section-basic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(142, 174, 189, 0.4);
  padding: 30px;
  margin-top: 60px;
  width: 90%;
  height: 40%;
  background-color: white;
}

.section-traits {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  border: 1px solid rgb(142, 174, 189, 0.4);
  padding: 30px;
  margin: 60px;

  width: 90%;

  background-color: white;
}

.section-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(142, 174, 189, 0.4);
  padding: 30px;
  margin: 60px;
  width: 90%;
  background-color: white;
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;

  color: #031424;
}

.section-title > i {
  color: #cf6766;
}

.section-item {
  font-size: 20px;
  margin-bottom: 2%;
}

.section-item-about {
  font-size: 20px;
  margin-bottom: 4%;
}
.section-item-address {
  font-size: 20px;
  margin-bottom: 2%;
}

.section-item-photo {
  margin-bottom: 2%;
}

.input {
  width: 100%;
  height: 70%;
}

.input-photo {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.input-photo > img {
  max-height: 200px;
  max-width: 300px;
  object-fit: cover;
  margin: 0 auto;
}

.dropdown {
  width: 100%;
  height: 60%;
}

.input-item {
  width: 100%;
  height: 15%;
  margin-bottom: 4%;
}

.input-item-photo {
  width: 100%;
  height: 15%;
  margin-top: 3%;
}

.input-item-about {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 7%;
}

.pref-item {
  font-size: 20px;
  margin: 10px 0;
}

.first-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.1em;
  height: 95%;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 95%;
  font-size: 20px;
}

.third-section {
  width: 90%;
  display: flex;
  justify-content: space-between;

  border: 1px solid rgb(142, 174, 189, 0.4);
  padding: 30px;

  background-color: white;

  font-size: 20px;
}

.traits-one {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.traits-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: -2.5%;
  width: 90%;
}

.trait {
  width: 15%;
}

.address-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
  width: 100%;
}

.address-side-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.address-side-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.address-boxes {
  width: 45%;
}

.section-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.section-prefs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.section-career {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 25%;
}

.submit-button {
  color: #031424;
  text-align: center;

  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}

.profile-image {
  width: 100%;
  height: 100%;
}

.address {
  margin-top: 3%;
}

.location-search-input {
  height: 45px;
}

.job-inputs {
  height: 50%;
  justify-self: center;
}

.calendar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .picture {
    display: none;
  }
}