.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 10vh;
  color: black;
  padding: 15px;
}
/* .listings{
  
    float: right;
    color: white;
    text-align: center;
    margin: 1em;
    border: 1px solid #FFFFFF;
    padding: 1em;
    cursor: pointer;
  

} */

.addlistings{
    float: left;
    color: #CF6766;
    text-align: center;
    margin: 1em;
    border: 1px solid #CF6766;
    border-width: thick;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
}
.addlistings:hover {
  background-color: #CF6766;
  color: white;
}



.fa-comment{
float:right;
 color: white;
 background-color: #CF6766;
 text-align: center;
 font-size: 17px;
 margin: 1em;
 border-radius: 50px; 
 padding: 1em;
 cursor: pointer;
}


.searchlistings {
  float: left;
  color:#031424;
  text-align: center;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size:20px;
}
.searchlistings:hover {
  background-color: rgb(230, 233, 230); /* Green */
  color: #031424;
  
}


.mylistings {
  float: right;
  color: #031424;
  text-align: center;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size:20px;
}
.mylistings:hover {
  background-color: rgb(230, 233, 230); /* Green */
  color: #031424;
}
.wishlist {
  float: right;
  color: #031424;
  text-align: center;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size:20px;
}
.wishlist:hover {
  background-color: rgb(230, 233, 230); /* Green */
  color: #031424;
}


.logo {
  float: left;
  color: #031424;
  text-align: center;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
}
.home img{
height: 190px;
width: 190px
}