.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  height: 10vh;
  color: black;
  border-bottom: solid lightgrey 2px;
  box-shadow: inset 0px 10px 13px -6px rgba(0, 0, 0, 0.75);

}
.listings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;

  width: 25%;
  height: 60%;
}

.box1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  align-items: center;

  width: 25%;
  height: 90%;
}
.box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;

  width: 30%;
}

.fa-comment {
  color: white;
  background-color: #cf6766;
  text-align: center;
  font-size: 17px;

  border-radius: 50px;

  cursor: pointer;
}

.searchlistings {
  color: #031424;
  text-align: center;

  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}
.searchlistings:hover {
  background-color: rgb(230, 233, 230); /* Green */
  color: #031424;
}

.mylistings {
  color: #031424;
  text-align: center;

  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}
.mylistings:hover {
  background-color: rgb(230, 233, 230); /* Green */
  color: #031424;
}

.logo {
  color: #031424;
  text-align: center;

  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-self: center;
  height: 100%;

  color: #cf6766;
  font-family: "Titan One";
  font-size: 8vh;
  opacity: none;

  text-shadow: 2px 2px 1px #031424;
}

.home:hover {
  animation: resize 0.5s both;
  color: #cf6766;
  text-shadow: 2px 2px 1px #031424;
}

.nav-pic {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.profile-pic-nav {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.expand-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #031424;
  margin-top: -10%;
  margin-bottom: -10%;
  height: 12vh;
  width: 9vw;
}
@keyframes resize {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05) perspective(5px);
  }
}
