.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 10vh;
  color: black;
  padding: 15px;
}
/* .listings{
  
    float: right;
    color: white;
    text-align: center;
    margin: 1em;
    border: 1px solid #FFFFFF;
    padding: 1em;
    cursor: pointer;
  

} */

.addlistings{
    float: right;
    color: #8EAEBD;
    text-align: center;
    margin: 1em;
    border: 1px solid #8EAEBD;
    padding: 1em;
    cursor: pointer;
}
.searchlistings{
  float: right;
  color:#8EAEBD;
  text-align: center;
  margin: 1em;
  border: 1px solid #8EAEBD;
  padding: 1em;
  cursor: pointer;
}
.mylistings{
  float: right;
  color: #8EAEBD;
  text-align: center;
  margin: 1em;
  border: 1px solid #8EAEBD;
  padding: 1em;
  cursor: pointer;
}
.wishlist{
  float: right;
  color: #8EAEBD;
  text-align: center;
  margin: 1em;
  border: 1px solid #8EAEBD;
  padding: 1em;
  cursor: pointer;
}
.logo{
  float: left;
  color: #8EAEBD;
  text-align: center;
  margin: 1em;
  border: 1px solid #8EAEBD;
  padding: 1em;
  cursor: pointer;
}
.home img{
height: 190px;
width: 190px
}