.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: silver;
  height: 10vh;
  color: black;
  padding: 15px;
}
.listings{
  display: flex;
  justify-content: space-between;

}