.profile-image:hover {
  cursor: pointer;
}

.container-card {
  margin: 0 5px 20px 5px;
}

.profile-card {
  animation: fade-in .5s both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}